<app-nav></app-nav>
<app-home></app-home>
<app-about></app-about>
<app-skills></app-skills>
<app-projects></app-projects>
<app-contact></app-contact>

<footer class="py-8 px-6 border-t border-border bg-secondary/20">
        <div class="container mx-auto text-center">
          <p class="text-sm text-muted-foreground">
            © 2025 Luís Daniel Maciel Comin. Todos os direitos reservados. <br>
            Angular + Tailwind CSS.
          </p>
        </div>
      </footer>
<router-outlet></router-outlet>